<form action="">
    <div>
        <label for="name">Nom</label>
        <input type="text" name="name">
    </div>
    <div>
        <label for="firstName">Prénom</label>
        <input type="text" name="firstName">
    </div>
    <div>
        <label for="mobile">Numéro de téléphone mobile</label>
        <input type="text" name="mobile">
    </div>
    <div>
        <label for="domNumber">Numéro de téléphone fixe</label>
        <input type="text" name="domNumber">
    </div>
    <div>
        <label for="email">Email</label>
        <input type="text" name="email">
    </div>
</form>

<button><a href="">Editer</a></button>